.flex-all-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    padding: 5px 10px;
    color: white;
    background: var(--bg-color);
    border: 2px solid white;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 400;
}

.btn:hover{
    font-weight: 900;
}